@import "_var.scss";
@import "../../common/_common.scss";

.cost__rect__cirle {
  .top-area {
    margin-bottom: rem(-30);
    padding: rem(10) 0;
    .top-list {
      padding: 0 rem(10);
      color: #666;
      line-height: rem(32);
      font-size: rem(14);
      i {
        margin-right: rem(5);
        font-size: rem(16);
      }
    }
    ul {
      display: flex;
      li {
       flex: 1;
       &:nth-child(3){
        flex: 1.5;
       }
      }
    }
  }
  .contnt-area {
    position: relative;
    z-index: 1;
    img{
      width: 100%;
      height: auto;
    }
    .red-block {
      li{
        position: absolute;
        z-index: 2;
        width: 15%;
        text-align: center;
        color: #fff;
        line-height: rem(20);
        background-color: $red;
        border-radius: rem(3);
        &:before{
          content:'';
          display:block;
          position: absolute;
          z-index:1;
          width:0;
          height:0;
          border: rem(10) solid transparent;
          transform-origin: 0 0;
        }
        &:nth-child(1){
          left: rem(2);
          top: 10%;
          &:before{
            right:rem(-18);
            border-left-color:$red;
            transform: skew(0,50deg) scale(6.5,1);
          }
        }
        &:nth-child(2){
          right: rem(2);
          top: 10%;
          &:before{
            left:rem(-18);
            border-right-color:$red;
            transform-origin: 100% 0;
            transform: skew(0,-50deg) scale(6.5,1);
          }
        }
        &:nth-child(3){
          left: rem(2);
          bottom: 10%;
          &:before{
            right:rem(-18);
            border-left-color:$red;
            transform: skew(0,-50deg) scale(6.5,1);
          }
        }
        &:nth-child(4){
          right: rem(2);
          bottom: 10%;
          &:before{
            left:rem(-18);
            border-right-color:$red;
            transform-origin: 100% 0;
            transform: skew(0,50deg) scale(6.5,1);
          }
        }
      }
    }
    .data-blocks {
      position: absolute;
      z-index: 2;
      top: 50%;
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      width: 20%;
      height: 50%;
      color: #fff;
      text-align:center;
      font-size: rem(10);
      background-color: $blue;
      border-radius: rem(3);
      transform: translate(0, -50%);
      &:nth-child(3) {
        left: 0;
        li{
          &:nth-child(1){
            &:before{
              right:rem(-18);
              border-left-color:$blue;
              transform: skew(0,30deg) scale(3.6,1);
            }
          }
          &:nth-child(2){
            &:before{
              right:rem(-18);
              border-left-color:$blue;
              transform: skew(0,0) scale(5.1,1);
            }
          }
          &:nth-child(3){
            &:before{
              right:rem(-18);
              border-left-color:$blue;
              transform: skew(0,0) scale(5.6,1);
            }
          }
          &:nth-child(4){
            &:before{
              right:rem(-18);
              border-left-color:$blue;
              transform: skew(0,0) scale(6.1,1);
            }
          }
          &:nth-child(5){
            &:before{
              right:rem(-18);
              border-left-color:$blue;
              transform: skew(0,-30deg) scale(2.1,1);
            }
          }
        }
      }
      &:nth-child(4) {
        right: 0;
        li{
          &:nth-child(1){
            &:before{
              left:rem(-18);
              border-right-color:$blue;
              transform-origin: 100% 0;
              transform: skew(0,-40deg) scale(4.2,1);
            }
          }
          &:nth-child(2){
            &:before{
              left:rem(-18);
              border-right-color:$blue;
              transform-origin: 100% 0;
              transform: skew(0,-25deg) scale(5.1,1);
            }
          }
          &:nth-child(3){
            &:before{
              left:rem(-18);
              border-right-color:$blue;
              transform-origin: 100% 0;
              transform: skew(0,-10deg) scale(1.1,1);
            }
          }
          &:nth-child(4){
            &:before{
              right:rem(-18);
              border-left-color:$blue;
              transform: skew(0,0) scale(6,1);
            }
          }
          &:nth-child(5){
            &:before{
              right:rem(-18);
              border-left-color:$blue;
              transform: skew(0,-30deg) scale(2,1);
            }
          }
        }
      }
      li {
        width:100%;
        line-height: rem(14);
        &:before{
          content:'';
          display:block;
          position: absolute;
          z-index:1;
          width:0;
          height:0;
          border: rem(10) solid transparent;
          transform-origin: 0 0;
        }
        p {
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
        }
        &.sp {
          flex: 1.5;
          i {
            display: block;
            margin: 0 auto;
            font-size: rem(26);
          }
          p {
            white-space:normal;
            margin: rem(1);
            border: rem(1) dashed #fff;
            border-radius: rem(5);
            span {
              display:inline-block;
              font-size: rem(12);
              line-height: rem(14);
              width:100%;
              white-space:nowrap;
              overflow:hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
    .out-circle {
      position: absolute;
      left: 50%;
      top: 50%;
      width:58%;
      height: 58%;
      margin: -29% 0 0 -29%;
      background-color: $lightyellow;
      border-radius: rem(999);
      border: rem(2) dashed #000;
      box-sizing: border-box;
      .in-circle {
        width: 90%;
        height: 90%;
        margin: 5%;
        background-color: $brown;
        border-radius: rem(999);
        box-sizing: border-box;
        border: rem(1) solid #000;
        .out-rect {
          position: relative;
          z-index: 1;
          width: 72%;
          height: 72%;
          margin: 14%;
          box-sizing: border-box;
          border: rem(5) solid $lightblue;
          border-radius: rem(10);
          .in-c {
            li{
              position:absolute;
              z-index: 3;
              width: 16%;
              height: 16%;
              background-color: $skyblue;
              border:rem(1) solid #000;
              border-radius: rem(999);
              &:nth-child(1) {
                top: -8%;
                left: -8%;
              }
              &:nth-child(2) {
                top: -8%;
                right: -8%;
              }
              &:nth-child(3) {
                bottom: -8%;
                left: -8%;
              }
              &:nth-child(4) {
                bottom: -8%;
                right: -8%;
              }
            }
          }
          .sec-rect{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background-color: $lightblue;
            border: rem(1) solid #000;
            .in-rect {
              position: relative;
              z-index: 1;
              width: 90%;
              height: 90%;
              margin: 5%;
              box-sizing: border-box;
              background-color: $skyblue;
              border: rem(1) dashed #666;
              ul {
                font-size: rem(10);
                color: #666;
                p:nth-child(1) {
                  margin-bottom: rem(2);
                }
                li {
                  position: absolute;
                  z-index: 1;
                  padding: rem(2) rem(1);
                  transform: scale(0.8,0.8);
                  .white{
                    color: #fff;
                  }
                  &:nth-child(1) {
                    top:0;
                    left:0;
                    transform-origin: 0 0;
                  }
                  &:nth-child(2) {
                    text-align: right;
                    top:0;
                    right:0;
                    transform-origin: 100% 0;
                  }
                  &:nth-child(3) {
                    bottom:0;
                    left:0;
                    transform-origin: 0 100%;
                  }
                  &:nth-child(4) {
                    text-align: right;
                    bottom:0;
                    right:0;
                    transform-origin: 100% 100%;
                  }
                  &:nth-child(5) {
                    text-align: center;
                    left:50%;
                    top:50%;
                    transform: translate(-50%, -50%);
                  }
                }
              }
              .mid-rect {
                width: 70%;
                height: 70%;
                margin: 15%;
                box-sizing: border-box;
                border: rem(1) dashed #666;
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
  }
  .bottom-table{
    display: flex;
    margin: rem(-20) auto rem(20) auto;
    width: 80%;
    color:#fff;
    font-size: rem(12);
    line-height: rem(18);
    background-color: $lightgreen;
    border-radius: rem(5);
    li {
      flex: 1;
      padding: rem(4) 0;
      text-align: center;
      p{
        &:nth-child(2) {
          margin: 0 rem(-2);
          background-color: $darkgreen;

        }
      }
    }
  }
}
.one__four__usage {
  position: relative;
  z-index: 1;
  padding: 5% 0;
  margin: rem(20) 0;
  img{
    width: 100%;
    height: auto;
  }
  .tabs {
    &>li {
      position: absolute;
      z-index: 1;
      width:45%;
      height:25%;
      padding: rem(5);
      font-size: rem(10);
      color: #fff;
      border-radius: rem(5);
      box-sizing: border-box;
      overflow: hidden;
      span {
        display: inline-block;
        margin-left: rem(2);
        transform-origin: 0 50%;
        transform: scale(.6,.6);
      }
      &:nth-child(1) {
        top:8%;
        left:0;
        background-color: $blue;
      }
      &:nth-child(2) {
        padding-left: 14%;
        top:8%;
        right:0;
        background-color: $lightgreen;
      }
      &:nth-child(3) {
        bottom:8%;
        left:0;
        background-color: $yellow;
      }
      &:nth-child(4) {
        padding-left: 14%;
        bottom:8%;
        right:0;
        background-color: $red;
      }
      &>ul {
        position: relative;
        z-index: 2;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        &>li {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      p {
        position: absolute;
        z-index: 1;
        width: 35%;
        height: 50%;
        display:flex;
        align-items: flex-end;
        box-sizing: border-box;
        padding:0 rem(5);
        font-size: rem(18);
        line-height: rem(42);
      }
      &:nth-child(1) {
        p{
          flex-direction: column-reverse;
          bottom:0;
          right:0;
          text-align:right;
          verical-align:bottom;
          border-top-left-radius: rem(999);
          background-color: $darkblue;
        }
      }
      &:nth-child(2) {
        p{
          flex-direction: row;
          left:0;
          bottom:0;
          text-align:left;
          border-top-right-radius: rem(999);
          background-color: $darkgreen;
        }
      }
      &:nth-child(3) {
        p{
          flex-direction: column;
          top:0;
          right:0;
          text-align:right;
          border-bottom-left-radius: rem(999);
          background-color: $darkyellow;
        }
      }
      &:nth-child(4) {
        p{
          align-items: flex-start;
          top:0;
          left:0;
          text-align:left;
          border-bottom-right-radius: rem(999);
          background-color: $darkred;
        }
      }
    }
  }
  .labels {
    li{
      position: absolute;
      z-index: 2;
      border-radius: rem(999);
      font-size: rem(16);
      line-height: rem(24);
      color: #fff;
      &:nth-child(1) {
        top: 0;
        left: 50%;
        padding: 0 rem(10);
        transform: translate(-50%,0);
        background-image: linear-gradient(135deg,$blue 0%, $blue 46%, $lightgreen 54%,$lightgreen 100%);
      }
      &:nth-child(2) {
        top: 50%;
        left: 5%;
        width: rem(24);
        padding: rem(10) 0;
        line-height: rem(16);
        text-align:center;
        transform: translate(0,-50%);
        background-image: linear-gradient(135deg,$blue 0%, $blue 42%, $red 58%,$red 100%);
      }
      &:nth-child(3) {
        top: 50%;
        right: 5%;
        width: rem(24);
        padding: rem(10) 0;
        line-height: rem(16);
        text-align:center;
        transform: translate(0,-50%);
        background-image: linear-gradient(135deg,$lightgreen 0%, $lightgreen 42%, $red 58%,$red 100%);
      }
      &:nth-child(4) {
        bottom: 0;
        left: 50%;
        padding: 0 rem(10);
        transform: translate(-50%,0);
        background-image: linear-gradient(135deg,$yellow 0%, $yellow 46%, $red 54%,$red 100%);
      }
    }
  }
  .fivestars {
    position: absolute;
    z-index: 3;
    left:50%;
    top:50%;
    transform: translate(0,rem(-15));
    .fivelines {
      li {
        position: absolute;
        z-index: 1;
        height:rem(1);
        width:rem(60);
        background-color: $red;
        transform-origin:0 50%;
        &:nth-child(1) {
          left:0;
          top:0;
          transform: translate(0,rem(-51)) rotate(36deg);
        }
        &:nth-child(2) {
          left:0;
          top:0;
          transform: translate(rem(48.5),rem(-15.7)) rotate(108deg);
        }
        &:nth-child(3) {
          left:0;
          top:0;
          transform: translate(rem(30),rem(41)) rotate(180deg);
        }
        &:nth-child(4) {
          left:0;
          top:0;
          transform:translate(rem(-30),rem(41)) rotate(252deg);
        }
        &:nth-child(5) {
          left:0;
          top:0;
          transform:translate(rem(-48.5),rem(-15.7)) rotate(324deg);
        }
      }
    }
    div>p {
      position: absolute;
      z-index: 1;
      transform: translate(-50%,-50%);
      line-height: rem(18);
      text-align: center;
      span{
       color: $red;
      }
    }
    .circles {
      li {
        position: absolute;
        z-index: 1;
        width: rem(42);
        span {
          display:block;
          width: rem(38);
          height: rem(38);
          border-radius: rem(40);
          border:rem(1) solid $red;
          line-height: rem(38);
          font-size: rem(12);
          color: $red;
          text-align: center;
          transform: translate(-50%, -50%);
        }
        .txt{
          position: absolute;
          z-index:1;
          text-align: center;
          font-size: rem(14);
          transform: translate(-50%, 0);
        }
        &:nth-child(1) {
          left:0;
          top:rem(-80);
          .txt {
            width:rem(40);
            left:0;
            bottom:rem(60);
          }
        }
        &:nth-child(2) {
          left:rem(-80);
          top:rem(-20);
          .txt {
            width:rem(50);
            right:rem(65);
            bottom:rem(8);
            text-align:right;
            transform: translate(0, -50%);
          }
        }
        &:nth-child(3) {
          right:rem(-80);
          top:rem(-20);
          span{
            transform: translate(50%, -50%);
          }
          .txt {
            width:rem(50);
            left:rem(65);
            bottom:rem(8);
            text-align:left;
            transform: translate(0, -50%);
          }
        }
        &:nth-child(4) {
          left:rem(-45);
          top:rem(65);
          .txt {
            width:rem(60);
            right:rem(65);
            bottom:rem(22);
            text-align:right;
            transform: translate(0, -50%);
          }
        }
        &:nth-child(5) {
          right:rem(-50);
          top:rem(65);
          span{
            transform: translate(50%, -50%);
          }
          .txt {
            width:rem(50);
            left:rem(65);
            bottom:rem(8);
            text-align:left;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}
.alarm-block {
  padding:rem(10);
  .alarm-item {
    margin: rem(10) 0;
    &>p {
      margin:rem(20) 0;
      padding:0 rem(5);
      border-left: rem(2) solid #000;
      font-size: rem(18);
      line-height: rem(18);
    }
    ul{
      display:flex;
      flex-wrap:wrap;
      flex-direction: row;
      padding: 0 rem(10);
      li{
        flex:1;
        span {
          display: inline-block;
          vertical-align:middle;
          background-color:#000;
          width: rem(20);
          height: rem(20);
          margin-right: rem(5);
          border-radius: rem(20);
          &.green{
            background-color: $green;
          }
          &.red{
            background-color: $red;
          }
          &.yellow{
            background-color: $yellow;
          }
          &.blue{
            background-color: $blue;
          }
          &.gray{
            background-color: #ccc;
          }
        }
        p {
          display: inline-block;
          font-size: rem(12);
          vertical-align:middle;
          line-height: rem(24);
        }
      }
    }
    &:nth-child(1) {
      &>p{
        border-left-color: $red;
      }
      ul>li{
        text-align:center;
        span{
          display:block;
          margin: 0 auto;
          width:rem(30);
          height: rem(30);
          border-radius: rem(30);
        }
      }
    }
    &:nth-child(2) {
      &>p{
        border-left-color: $yellow;
      }
    }
    &:nth-child(3) {
      &>p{
        border-left-color: $blue;
      }
      ul>li{
        flex: none;
        width: 50%;
      }
    }
  }
}