<div class="">
  <search-box :searchinfo.sync="searchinfo" :companylist="companylist"></search-box>
  <common-box title="本月产值排名" subtitle="亿">
    <bar-chart :data="monthRank" chartid='productsecondprogress-month-rank' ></bar-chart>
  </common-box>
  <common-box title="年累产值排名" subtitle="亿">
    <bar-chart :data="yearRank" chartid='productsecondprogress-year-rank' ></bar-chart>
  </common-box>
  <common-box title="年累产值同比情况" subtitle="％">
    <bar-chart :data="yearCompare" chartid='productsecondprogress-year-compare' ></bar-chart>
  </common-box>
  <common-box title="年目标完成情况" subtitle="％">
    <bar-chart :data="yearTarget" chartid='productsecondprogress-year-target' ></bar-chart>
  </common-box>
  <common-box title="各单位人均完成值" subtitle="万元／人">
    <bar-chart :data="personTarget" chartid='productsecondprogress-person-target' ></bar-chart>
  </common-box>
</div>