<div class="">
  <search-box :searchinfo.sync="searchinfo" :companylist="companylist"></search-box>
  <common-box title="中建五局合同额占比示意图">
    <map-chart :data="mapPercentage" chartid='marketrangefield-map-percentage' ></map-chart>
  </common-box>
  <common-box title="按省份划分占比（％）">
    <bar-chart :data="provinceRankTop" chartid='marketrangefield-province-rank-top' ></bar-chart>
    <bar-chart :data="provinceRankBottom" chartid='marketrangefield-province-rank-bottom' ></bar-chart>
  </common-box>
</div>