<div class="">
  <search-box :searchinfo.sync="searchinfo" :companylist="companylist"></search-box>
  <common-box title="各单位应收款项预算指标完成情况排名" subtitle="%">
    <bar-chart :data="targetRank" chartid='targetRank-target-rank' ></bar-chart>
  </common-box>
  <common-box title="各单位应收总额排名（应收款总额）" subtitle="亿">
    <bar-chart :data="deserveRank" chartid='deserveRank-deserve-rank' ></bar-chart>
  </common-box>
  <common-box title="各单位应收款总额排名（比年初增长率）" subtitle="%">
    <bar-chart :data="incomeRank" chartid='incomeRank-income-rank' ></bar-chart>
  </common-box>
</div>