<div class="">
  <div class="common-head">
    <i class="fa fa-close" id="closewindow" onclick="window.location.href = 'http://yyjz-portal-h5-native/closewindow'"></i>
    主要指标
  </div>
  <search-box :searchinfo.sync="searchinfo" :companylist="companylist" :changemonth="changeMonth"></search-box>
  <common-box title="主要指标(亿元)" >
    <div style="margin-left:-15px">
      <bar-chart :data="bar1" chartid='maintarget-bar1' height="150px" ></bar-chart>
    </div>
    <div style="margin-left:-15px">
      <bar-chart :data="bar2" chartid='maintarget-bar2' height="150px" ></bar-chart>
    </div>
    <div style="margin-left:-15px">
      <bar-chart :data="bar3" chartid='maintarget-bar3' height="150px" ></bar-chart>
    </div>
  </common-box>
  <common-box title="两年同比趋势折线图-合同额" >
    <line-chart :data="contract" chartid='maintarget-contract' ></line-chart>
  </common-box>
  <common-box title="两年同比趋势折线图-营业额" >
    <line-chart :data="account" chartid='maintarget-account' ></line-chart>
  </common-box>
  <common-box title="两年同比趋势折线图-经营性现金净流" >
    <line-chart :data="cash" chartid='maintarget-cash' ></line-chart>
  </common-box>
  <common-box title="两年同比趋势折线图-利润总额" >
    <line-chart :data="income" chartid='maintarget-income' ></line-chart>
  </common-box>
  <common-box title="两年同比趋势折线图-投资额" >
    <line-chart :data="invest" chartid='maintarget-invest' ></line-chart>
  </common-box>
  <common-box title="两年同比趋势折线图-投资回款" >
    <line-chart :data="payback" chartid='maintarget-payback' ></line-chart>
  </common-box>
</div>