@import "./style/_function.scss";
$blue: rgb(69,135,239);
$yellow: rgb(248,187,45);
$green: rgb(69,136,40);
$red: rgb(231,68,60);
$lightyellow: rgb(246,233,66);
$lightblue: rgb(28,161,230);
$skyblue: rgb(129,197,233);
$lightgreen: rgb(87,180,111);
$brown: rgb(127,80,26);
$darkgreen: rgb(62,152,85);
$darkred: rgb(209,58,51);
$darkblue: rgb(48,99,182);
$darkyellow: rgb(231,173,40);
$dark: #666;
